#body{
  background-image: url(https://wallpaperaccess.com/full/2107299.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;


  }
  
#h1index{
  font-family: 'Grandstander', cursive;
  text-align: center;
  background-color: #CEC6C6;
  margin: -25px;
 
 
}

 .SAHSlogo {
    text-align: center;
    background-image: url(https://www.sausd.us/cms/lib/CA01000471/Centricity/Template/GlobalAssets/images///NEW-TEMPLATE-Logos/santaana-hs.png);
    background-repeat: no-repeat;
    text-indent: -99999px; 
    margin: 1px;
    background-size: contain;
    line-height: 80px;
}


#index{
  text-align: center;
  font-size: 16px;
}
a{
  width:100px;
  text-align: center;
  margin: auto;
  text-size-adjust: 24px;

}
ul{
  display: flex;
  flex-direction: row;
  size: 150px;
  background-color: #CEC6C6;
  margin: fill;
  

}
#intro{
  margin: 1px;
  font-size: 20px;

}
  /*Portfolio */
#body_portfolio{
  background-color:gray;
}
.portfolio{
  text-align: center;
  font-size: 32px;
  width:auto;
  margin: -22px;
}


.artifact{
  border: solid 2px;
  border-color: red;
  display:flex;
  flex-direction: row;
  }
li {
  text-align: center;
  width: 200px;
  height: 370px;
  margin: auto;
 
}
#box{
  background-color: white;
  font-size:16px
}
#color1{
  background-color: #fbd3bc;;
}
#color2{
  background-color: #e1F0C4;
}
#color3{
  background-color: #6BAB90;
}
#h1portfolio{
  font-family: 'Grandstander', cursive;
  text-align: center;
}


/*about me*/
#body_aboutme{
  background-color: gray;
  
}
#h1about_me{
  text-align: center;
  font-size: 32px;
  width:auto;
  margin: -34px;
}
#left_col{
  position:absolute;
  height: 100%;
  width: 200px;
  float: left;
  border-right: 10px solid #2f2d2d;
  background-color:white;
  left:0px;
  bottom:0px;
  padding:15px;
}

img{
  height: 350px;
  position: relative;
  top: 100px;
  border: 3px solid #73AD21;
}
#about_metext{
  position: relative;
  top: 150px;
}
#right_col{
  text-align: center;
}